<div class="container">
  <h3>Ejmeplo de Pipe Currency</h3>
  <!--<app-ejpropertybinding></app-ejpropertybinding>-->
  <!--<app-ejeventbinding></app-ejeventbinding>-->
  <!--<app-ej2waybinding></app-ej2waybinding>-->
  <!--<app-ejdirectivangif></app-ejdirectivangif>-->
  <!--<app-ejdirectivangstyle></app-ejdirectivangstyle>-->
  <!--<app-ejdirectivangclass></app-ejdirectivangclass>-->
  <!--<app-ejdirectivangfor></app-ejdirectivangfor>-->
  <!--<app-ejarrayobjetos></app-ejarrayobjetos>-->
  <!--<app-ejdirectivaswich></app-ejdirectivaswich>-->
  <!--<app-ehmidirectiva></app-ehmidirectiva>-->
  <!--<app-padre></app-padre>-->
  <app-fehcaactual></app-fehcaactual>
</div>
